<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>controllers.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffManagerController</servlet-name>
        <servlet-class>controllers.StaffManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherController</servlet-name>
        <servlet-class>controllers.DispatcherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanStaffController</servlet-name>
        <servlet-class>controllers.BanStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffController</servlet-name>
        <servlet-class>controllers.DeleteStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffController</servlet-name>
        <servlet-class>controllers.SearchStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllUserController</servlet-name>
        <servlet-class>controllers.LoadAllUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllPostController</servlet-name>
        <servlet-class>controllers.LoadAllPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPostController</servlet-name>
        <servlet-class>controllers.LoadPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatController</servlet-name>
        <servlet-class>controllers.ChatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostController</servlet-name>
        <servlet-class>controllers.CreatePostController</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>LoadAllTradeController</servlet-name>
        <servlet-class>controllers.LoadAllTradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controllers.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTradeController</servlet-name>
        <servlet-class>controllers.LoadTradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCommentController</servlet-name>
        <servlet-class>controllers.CreateCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateConversationController</servlet-name>
        <servlet-class>controllers.CreateConversationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMessageController</servlet-name>
        <servlet-class>controllers.CreateMessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadConversationController</servlet-name>
        <servlet-class>controllers.LoadConversationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionController</servlet-name>
        <servlet-class>controllers.ActionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMemberController</servlet-name>
        <servlet-class>controllers.SearchMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDataForStaffController</servlet-name>
        <servlet-class>controllers.LoadDataForStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllPostUserController</servlet-name>
        <servlet-class>controllers.LoadAllPostUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandlePostController</servlet-name>
        <servlet-class>controllers.HandlePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaffController</servlet-name>
        <servlet-class>controllers.CreateStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostController</servlet-name>
        <servlet-class>controllers.DeletePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostController</servlet-name>
        <servlet-class>controllers.UpdatePostController</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>HandleTradeController</servlet-name>
        <servlet-class>controllers.HandleTradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTradeController</servlet-name>
        <servlet-class>controllers.CreateTradeController</servlet-class>
        <multipart-config>
            <location>C:/Users/overw/Desktop/hehe</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>LoadAllUserTradeController</servlet-name>
        <servlet-class>controllers.LoadAllUserTradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTradeController</servlet-name>
        <servlet-class>controllers.DeleteTradeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffManagerController</servlet-name>
        <url-pattern>/StaffManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherController</servlet-name>
        <url-pattern>/DispatcherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanStaffController</servlet-name>
        <url-pattern>/BanStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffController</servlet-name>
        <url-pattern>/DeleteStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffController</servlet-name>
        <url-pattern>/SearchStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllUserController</servlet-name>
        <url-pattern>/LoadAllUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllPostController</servlet-name>
        <url-pattern>/LoadAllPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPostController</servlet-name>
        <url-pattern>/LoadPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatController</servlet-name>
        <url-pattern>/ChatController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostController</servlet-name>
        <url-pattern>/CreatePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllTradeController</servlet-name>
        <url-pattern>/LoadAllTradeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTradeController</servlet-name>
        <url-pattern>/LoadTradeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCommentController</servlet-name>
        <url-pattern>/CreateCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateConversationController</servlet-name>
        <url-pattern>/CreateConversationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMessageController</servlet-name>
        <url-pattern>/CreateMessageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadConversationController</servlet-name>
        <url-pattern>/LoadConversationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionController</servlet-name>
        <url-pattern>/ActionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMemberController</servlet-name>
        <url-pattern>/SearchMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDataForStaffController</servlet-name>
        <url-pattern>/LoadDataForStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllPostUserController</servlet-name>
        <url-pattern>/LoadAllPostUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandlePostController</servlet-name>
        <url-pattern>/HandlePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaffController</servlet-name>
        <url-pattern>/CreateStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostController</servlet-name>
        <url-pattern>/DeletePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostController</servlet-name>
        <url-pattern>/UpdatePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleTradeController</servlet-name>
        <url-pattern>/HandleTradeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTradeController</servlet-name>
        <url-pattern>/CreateTradeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllUserTradeController</servlet-name>
        <url-pattern>/LoadAllUserTradeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTradeController</servlet-name>
        <url-pattern>/DeleteTradeController</url-pattern>
    </servlet-mapping>
</web-app>
